html {
    font-family: Lato;
}

.fullscreen-map {
    height: 100%;
    width: 100%;
    margin: auto;
}

.district {
    cursor: pointer;
    fill: #66696c;
    fill-opacity: 0;
    shape-rendering: geometricPrecision;
    stroke: #66696c;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1.0;
    stroke-width: 0.5px;
}
.district:hover {
    fill: green;
    fill-opacity: 0.45;
}

.RSA {
    /*cursor: pointer;*/
    fill: #66696c;
    fill-opacity: 0;
    shape-rendering: geometricPrecision;
    stroke: #66696c;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1.0;
    stroke-width: 0.5px;
}

/*.RSA:hover {
    fill: #66696c;
    fill-opacity: 0.45;
}
*/
.BOCES {
    cursor: pointer;
    fill: green;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}
.BOCES:hover {
    stroke: #000;
}

.BOCES-name {
  color: black;
  font-size: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

