/*    
 *
 *  Base STYLING
 *
 */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}
p, div {
    font-family: 'Lato';
}

/*    
 *
 *  NAV BAR
 *
 */

.logo-container {
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
    line-height: 6rem;
    margin-left: 15px;}
.logo img {
    height: 28px;}




/*    
 *
 *  Main-Component
 *
 */


.mapLayerButtons {
    text-align: center; }

.customerName {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-b    ox;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline;
    font-size: 18px;
    font-weight: normal;
    height: auto;
    line-height: 60px; }



/*    
 *
 *  MAP STYLING
 *
 */

.district {
    cursor: pointer;
    fill: #66696c;
    fill-opacity: 0;
    shape-rendering: geometricPrecision;
    stroke: #66696c;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1.0;
    stroke-width: 0.5px;}
.district:hover {
    fill: green;
    fill-opacity: 0.45;}
.RSA {
    /*cursor: pointer;*/
    fill: #66696c;
    fill-opacity: 0;
    shape-rendering: geometricPrecision;
    stroke: #66696c;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1.0;
    stroke-width: 0.5px;
}
.BOCES {
    cursor: pointer;
    fill: green;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}
.BOCES:hover {
    stroke: #000;
}
.BOCES-name { /* LABELS next to BOCES points */ 
  color: black;
  font-size: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

