/*
 *
 *  Base STYLING
 *
 */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}
p, div {
    font-family: 'Open Sans';
}

/*
 *
 *  NAV BAR
 *
 */

.logo-container {
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
    line-height: 6rem;
    margin-left: 15px;}
.logo img {
    margin-top: -5px;
    height: 40px;
}
.left-logo {
    text-align: left;
/*    padding-left: 50%;
    margin-left: 50%;
*/    }
.left-logo  img{
    height: 50px;
    margin-top: -10px;
}
/* navbar */
.navbar-default {
    background-color: #680010;
    border-color: #E7E7E7;
    background-image: none;
    margin-bottom:0px;
    box-shadow: none;
    color: white;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* sub navbar */
.sub-navbar {
    /*width: 99%;*/
    /*height: 8%;*/
    /*background-color: #1077BC;*/
    /*margin-bottom: 5px;*/
}

.sub-navbar .nav {
    background-color: #8E0C21;
}
.sub-navbar a {
    color: white;
}
.sub-navbar .nav-pills > li > a {
    border-radius: 0px;
}
.sub-navbar .active {
    background-color: #CCCCCC;
}
.sub-navbar .nav-pills > li.active > a {
    color: none;
}
.sub-navbar .nav-pills > li.active > a {
    background-color: #CCCCCC;
}
 .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    text-decoration: none;
    background-color: #53AB6B;
    color: white;
    outline: 0;
}

/* Side Panel */




/*
 *
 *  Main-Component
 *
 */


.smooth-panel{
    background-color: #7B0017;
    color: white;
    width: 100%;
    height: 60%;
        padding-left: 0;
    padding-right: 0;
    /*border-style: solid;*/
    /*border-color: black;*/
    vertical-align: center;
}
.left-panel {
    padding-top: 5%;
    padding-left: 2%;
    /*padding-left: 5%;*/

    /*margin-left: -1%;*/

    /*margin-top: 10px;*/
    /*margin-left: 10px;*/

}
#ListName {
    font-size: .9em;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


/* GENERAl Stuff */
.box-panel {
    width: 100%;
    /*min-height: 30%;*/
    height: auto;
    background-color: #EDEDEF;
    border-radius: 4px;
    /*box-shadow: 0px 1px 0px rgba(255, 255, 255, 1) inset, 0px 1px 5px rgba(0, 0, 0, 0.275);*/
    margin-top: 2%;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-right: 50% !important;*/'
    padding-left: 1.5%;
}

.panel-header , .panel-body {
    padding-left: 6px;
}
.panel-header {
    padding-top: 5px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #DADADA;
}f
.panel-body {
    padding-top: 5px;
    /*min-height: 20%;*/
    /*padding-bottom: 10px;*/
    padding: 0;
}
.panel-scroll {
    overflow: scroll;
    height: 92%;
    /*position: absolute;*/
    bottom: 0;
    /*top: 350px;*/
    width: 100%;
    /*margin-bottom: -10%;*/
    overflow-x:hidden;

}
.panel-scroll2 {
    overflow: scroll;
    height: 10%;
    width: 100%;
    padding-bottom: 0;
    overflow-x:hidden;

}


/*.button-part{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}*/

.panel-footer {
    /*background-color: #2F75B1;*/
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

}
/*.panel-footer .btn {
padding: 12px 15px;
    font-size: 1.7rem;
    line-height: 1.563;
    border-radius: 0px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
*/


}

/* Show me panel */

#showme-region {
 display: none;
 background-color: rgba(234, 255, 241, 0.33);
 overflow: scroll;
 height: 30%;
 width: 80%;
 margin-left: 5%;

}


/* MAP PANEL */
.map-title {
    text-align: center;
}
.map-description {
    text-align: center;
    font-size: 0.9em;
}

.mapLayerButtons {
    padding-top: 1%;
    text-align: center; }

.map-container {
    padding-bottom: 10px;
    width: 125%;
    margin-left: -10%;
    /*height: 100%;*/
}

/*
 *
 *  MAP STYLING
 *
 */

.district {
    cursor: pointer;
    fill: #66696c;
    fill-opacity: 0;
    shape-rendering: geometricPrecision;
    stroke: #66696c;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1.0;
    stroke-width: 0.5px;}
.district:hover {
    fill: #C1C1C1;
    fill-opacity: 0.25;}
.RSA {
    /*cursor: pointer;*/
    fill: #66696c;
    fill-opacity: 0;
    shape-rendering: geometricPrecision;
    stroke: #66696c;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1.0;
    stroke-width: 0.5px;
}
.BOCES {
    cursor: pointer;
    fill: #C1C1C1;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}
.BOCES:hover {
    stroke: #000;
}
.BOCES-name { /* LABELS next to BOCES points */
  color: black;
  font-size: 11px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.hover-region{
    fill: red;
    fill-opacity: 0.45;

}*/
.selected-region{
    fill: #C1C1C1;
    fill-opacity: 1;
}
.selected-region:hover{
    fill: #C1C1C1;
    fill-opacity: 0.85;
}


/*TOOLTIP */
/*div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: 20px;
  padding: 2px;
  font: 12px sans-serif;
  /*background-color: blue;        */
/*  color: white;
  background-color: #868682;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}*/

div.tooltip  {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  /*border-radius: 2px;*/
  pointer-events: none;
    border-radius: 8px;

}

/* Creates a small triangle extender for the tooltip */
div.tooltip:after {
  /*box-sizing: border-box;*/
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* List of Regions Stytlig */
#regionlist{
  list-style-type:none;
  padding:0;
  margin:0;
  margin-top: -1em;
  margin-bottom: -1em;
}

#regionlist li {
    font-size: 10px;
    /*margin-bottom: 10px;*/
    padding-top: .2em
}
#regionlist li:hover {
    background-color: #C1C1C1;
}


#regionlist label {
    padding-left: 5px;
}


/* school/subregion styling */

#subregion-links {
    list-style-type:none;

}

#subregion-links .snippet {
 padding-top: 10px;
 display: none;
}


.compare-panel {
    /*padding-left: 5%;*/
    margin-left: 5%;
/*    padding-right: 10%;
*/    margin-right: 10%;
    width: 88%;

}


.number {
    box-sizing: border-box;
    color: #333;
    floatleftfont-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
    margin-right: 8px;
    text-transform: capitalize;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
    text-align: center;

}

.box-title {
box-sizing: border-box;
color: #464649;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: 600;
line-height: 25.5px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
text-overflow: ellipsis;
white-space: nowrap;
-moz-osx-font-smoothing: grayscale;
}

.box1-title {
box-sizing: border-box;
color: #2F75B1;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: 600;
line-height: 25.5px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
text-overflow: ellipsis;
white-space: nowrap;
-moz-osx-font-smoothing: grayscale;


}

.box2-title {
box-sizing: border-box;
color:  #5CA6DB;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: 600;
line-height: 25.5px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
text-overflow: ellipsis;
white-space: nowrap;
-moz-osx-font-smoothing: grayscale;


}

/*.button-part {
    -webkit-font-smoothing: antialiased;
background-color: rgb(245, 245, 245);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-color: rgb(51, 51, 51);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 50px;
line-height: 21.8819999694824px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
/*width: 110%;
}*/

.btn-container{
/*    padding-left: 10px;
    /*padding-top: */
    /*padding-right: 10px;*/
    /*padding-bottom: 10px;*/
}
.button-part a {
border-color: white;
border-width: 12em;
background-color: #2F75B1;
background-image: none;
border-bottom-color: #2F75B1;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: #2F75B1;
border-left-style: none;
border-left-width: 0px;
border-right-color: #2F75B1;
border-right-style: none;
border-right-width: 0px;
border-top-color: #2F75B1;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: #FFF;
cursor: pointer;
display: block;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: 600;
line-height: 26.5667px;
margin-bottom: 0px;
opacity: 0.9;
outline-color: #FFF;
outline-style: none;
outline-width: 0px;
overflow: hidden;
overflow-x:  hidden;
overflow-y:  hidden;
/*                padding-bottom:  12px;
                padding-left:  15px;
                padding-right:  15px;
                padding-top:  12px;*/
text-align:  center;
text-decoration:  none;
text-decoration-color:  #FFF;
text-decoration-line:  none;
text-decoration-style:  solid;
text-overflow:  ellipsis;
transition-delay:  0s;
transition-duration:  0.1s;
transition-property:  all;
transition-timing-function:  cubic-bezier(0.42, 0, 0.58, 1);
vertical-align: middle;
white-space: nowrap;
width: 100%;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-osx-font-smoothing: grayscale;
-moz-user-select: none;

    }

.button-part span {
    -webkit-font-smoothing: antialiased;
-webkit-user-select: none;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 17px;
font-weight: 600;
height: auto;
line-height: 26.5710010528564px;
text-align: center;
white-space: nowrap;
width: auto;
}

.button-part .btn-primary {
        background-color:  #2F75B1;
    }

.button-part .btn-primary:focus,.button-part .btn-primary:hover {
     background-color:  #2F75B1;
opacity: 0.7;
}







.button-part2 a {

background-color: #5CA6DB;
background-image: none;
border-bottom-color: #5CA6DB;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: #5CA6DB;
border-left-style: none;
border-left-width: 0px;
border-right-color: #5CA6DB;
border-right-style: none;
border-right-width: 0px;
border-top-color: #5CA6DB;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: #FFF;
cursor: pointer;
display: block;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: 600;
line-height: 26.5667px;
margin-bottom: 0px;
opacity: 0.9;
outline-color: #FFF;
outline-style: none;
outline-width: 0px;
overflow: hidden;
overflow-x:  hidden;
overflow-y:  hidden;
/*                padding-bottom:  12px;
                padding-left:  15px;
                padding-right:  15px;
                padding-top:  12px;*/
text-align:  center;
text-decoration:  none;
text-decoration-color:  #FFF;
text-decoration-line:  none;
text-decoration-style:  solid;
text-overflow:  ellipsis;
transition-delay:  0s;
transition-duration:  0.1s;
transition-property:  all;
transition-timing-function:  cubic-bezier(0.42, 0, 0.58, 1);
vertical-align: middle;
white-space: nowrap;
width: 100%;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-osx-font-smoothing: grayscale;
-moz-user-select: none;

    }

.button-part2 span {
    -webkit-font-smoothing: antialiased;
-webkit-user-select: none;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 17px;
font-weight: 600;
height: auto;
line-height: 26.5710010528564px;
text-align: center;
white-space: nowrap;
width: auto;
}

.button-part2 .btn-primary {
        background-color:  #5CA6DB;
    }

.button-part2 .btn-primary:focus, .button-part2  .btn-primary:hover {
     background-color:  #5CA6DB;
opacity: 0.7;
}


.box-panel2 {
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 1) inset, 0px 1px 5px rgba(0, 0, 0, 0.275);
    margin-top: 2%;
    /*padding-top: 10px;
    /*padding-bottom: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-right: 50% !important;*/'
    padding-left: 5%;
    margin-left: 3%;
}

.description {
    height: 50px;
}

.revenue-title {
    font-size: 1.3em;
}
#region-info {
    padding-bottom: 5px;
}