%html
  %head
    %script{:charset => "utf-8", :src => "js/jquery.js"}
    %script{:charset => "utf-8", :src => "js/d3.js"}
    %script{:charset => "utf-8", :src => "js/topojson.v1.js"}
    %script{:charset => "utf-8", :src => "js/moment.js"}
    %meta{:charset => "utf-8"}/
    
    %title CDE | Transparency Map

    / Favicon
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/


    / ** BOOTSTRAP **/ 
    / Latest compiled and minified CSS
    %link{:href => "css/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "css/bootstrap/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:src => "js/bootstrap/bootstrap.min.js"}

    / ** MYSTYLE 
    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/checkbox.css", :rel => "stylesheet", :type => "text/css"}/


  %body
    .main-component
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            .logo-container
              %a.logo.navbar-brand{:href => "#"}
                %img{:alt => "Brand", :src => "https://www.cde.state.co.us/sites/default/files/pics/cdecomm/co_cde_shield_300_rgb-125x240.png"}
              %span.customerName Colorado Department of Education
      .container-fluid
        .row
          .sub-navbar
            %ul.nav.nav-pills
              %li#BOCES{:role => "presentation"}
                %a{:href => "#"} BOCES
              %li#districts.active{:role => "presentation"}
                %a{:href => "#"} Districts
              %li#schools{:role => "presentation"}
                %a{:href => "#"} Schools
        .row
          .panels.container-fluid.nopadding
            .left-panel.col-sm-2
              .smooth-panel
                .panel-header 
                  #ListName List of Districts
                .panel-body.panel-scroll
                  %ul#regionlist

            .middle-panel.col-md-5.nopadding
              .map-container
                #map
            .right-panel.col-sm-5
              .box-panel
                .panel-header
                  #RegionName Districts
                .panel-body
                  %p Colrado Lorem Ipsum, legislation was enacted requiring each local education agency to post on-line, for free public access, Local Education. Agencies' (LEAs') annual budgets, annual financial statements, salary schedules or policies, accounts payable check registers and credit, debit, and purchase card statements Lorem Ipsum
              .box-panel#showme-region
                .panel-header
                  #region-title Region Title
                .panel-body
                  #region-info
                    Explore this region data:
                  #region-link
                    %a Transparency Portal Link
                  #subregion-links
                    .snippet
                      Explore this district's school data: 
              / .box-panel#showme-schools



  %script{:src => "js/viz.js"}
