%html
  %head
    %script{:charset => "utf-8", :src => "js/jquery.js"}
    %script{:charset => "utf-8", :src => "js/d3.js"}
    %script{:charset => "utf-8", :src => "js/topojson.v1.js"}
    %script{:charset => "utf-8", :src => "js/moment.js"}
    %meta{:charset => "utf-8"}/
    
    %title CDE | Transparency Map

    / Favicon
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/


    / ** BOOTSTRAP **/ 
    / Latest compiled and minified CSS
    %link{:href => "css/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "css/bootstrap/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:src => "js/bootstrap/bootstrap.min.js"}

    / ** MYSTYLE 
    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/checkbox.css", :rel => "stylesheet", :type => "text/css"}/


  %body
    .main-component
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            .logo-container
              %a.logo.navbar-brand{:href => "#"}
                %img{:alt => "Brand", :src => "https://www.cde.state.co.us/sites/default/files/pics/cdecomm/co_cde_shield_300_rgb-125x240.png"}
              %span.customerName Colorado Department of Education
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a.left-logo.navbar-brand{:href => "#"}
                  %img{:alt => "Brand", :src => "http://www.wpsdk12.org/wp-content/uploads/2014/07/Financial-Transparency-icon.jpg"}

      .container-fluid
        .row
          .sub-navbar
            %ul.nav.nav-pills
              %li#BOCES{:role => "presentation"}
                %a{:href => "#"} BOCES
              %li#districts.active{:role => "presentation"}
                %a{:href => "#"} Districts
              %li#schools{:role => "presentation"}
                %a{:href => "#"} Schools
        .row
          .panels.container-fluid.nopadding
            .left-panel.col-sm-2
              .smooth-panel
                .panel-header 
                  #ListName List of Districts
                .panel-body.panel-scroll
                  %ul#regionlist

            .middle-panel.col-md-5.nopadding
              .map-container
                #map
              .box-panel.compare-panel
                .panel-header
                  District Comparison
                .panel-body
                  Explore how Districts compare:
                  %ul
                    %li
                      %a{:href => "http://dev.munetrix.com/sections/charts_sd_aa/chfreereduced.php?FavID=381", :target=>"_blank"} Peer Report for free and reduced lunch
                    %li
                      %a{:href => "http://dev.munetrix.com/sections/charts_sd/chefficiency_sd.php?IsdID=72188&Type=District",:target=>"_blank"} Northeast Region  Districts Expenditure Report

            .right-panel.col-sm-5
              %h2 Financial Summary
              .box-panel
                .panel-header
                  Revenues
                .panel-body
                  Overall Revenues For Local Education Agencies Throughout Colorado
                / .panel-footer.button
                .button-part
                  %a.btn.btn-block.btn-primary.lighter{:href => "http://cde.budget.socrata.com/#!/year/default/revenue/0/district_name", :title => "Explore Revenues",:target=>"_blank"}
                    Explore
                    %span.ng-binding{"ng-bind" => "revenueTitle"} Revenues


              .box-panel
                .panel-header
                  Expenditures
                .panel-body
                  Overall Expenditures For Local Education Agencies Throughout Colorado 
                .button-part
                  %a.btn.btn-block.btn-primary.lighter{:href => "http://cde.budget.socrata.com/#!/year/default/operating/0/district_name", :title => "Explore Revenues",:target=>"_blank"}
                    Explore
                    %span.ng-binding{"ng-bind" => "revenueTitle"} Expenditures

              .box-panel#showme-region
                .panel-header
                  #region-title Region Title
                .panel-body
                  #region-info
                    Explore this region's Budget data:
                  %ul
                    %li
                      #region-link1
                    %li
                      #region-link2
                    / %a Transparency Portal Link
                .panel-body
                  #subregion-links.panel-scroll2
                    .snippet
                      Explore this district's school data: 
              / .box-panel#showme-schools



  %script{:src => "js/viz.js"}
