%html
  %head
    %script{ charset: 'utf-8', src: 'js/jquery.js' }
    %script{ charset: 'utf-8', src: 'js/d3.js' }
    %script{ charset: 'utf-8', src: 'js/topojson.v1.js' }
    %script{ charset: 'utf-8', src: 'js/moment.js' }
    %meta{ charset: 'utf-8' }

    %title Michigan | Transparency Map

    / Favicon
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }


    / ** BOOTSTRAP **/
    / Latest compiled and minified CSS
    %link{ href: 'css/bootstrap/bootstrap.min.css', rel: 'stylesheet' }
    / Optional theme
    %link{ href: 'css/bootstrap/bootstrap-theme.min.css', rel: 'stylesheet' }
    / Latest compiled and minified JavaScript
    %script{ src: 'js/bootstrap/bootstrap.min.js' }

    / ** MYSTYLE
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'css/style2.css', rel: 'stylesheet', type: 'text/css' }


  %body{:onload => "buildHtmlTable()"}
    .main-component
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            .logo-container
              %a.logo.navbar-brand{ href: '#' }
                %img{ alt: 'Brand', src: 'assets/mich.png' }
              %span.customerName Michigan's Financial Explorer
          %p.navbar-text.navbar-right.compare
            %a.navbar-link{:href => "http://www.opendatanetwork.com/region/0400000US26-1600000US2622000-1600000US2646000-1600000US2634000-1600000US2603000/Michigan-Detroit_MI-Lansing_MI-Grand_Rapids_MI-Ann_Arbor_MI/education/percent_high_school_graduate_or_higher/2013#"} Compare Michigan in ODN

          .navbar-collapse.collapse
            / %ul.nav.navbar-nav.navbar-right
            /   %li
            /     %a.left-logo.navbar-brand{ href: '#' }
            /       %img{ alt: 'Brand', src: 'http://www.wpsdk12.org/wp-content/uploads/2014/07/Financial-Transparency-icon.jpg' }

      .container-fluid
        / .row
        /   .sub-navbar
        /     %ul.nav.nav-pills
        /       / %li#BOCES{ role: 'presentation' }
        /       /   %a{ href: '#' } Home
        /       %li.active#districts{ role: 'presentation' }
        /         %a{ href: '#' } Counties
        /       / %li#schools{ role: 'presentation' }
        /       /   %a{ href: '#' } Schools
        .row
          .panels.container-fluid.nopadding
            .left-panel.col-sm-2
              .smooth-panel
                .panel-header
                  #ListName Select a county:
                .panel-body.panel-scroll
                  %ul#regionlist


            .middle-panel.col-md-5.nopadding
              .map-title
                %h3 Michigan Counties Map
              .map-container
                #map
              .map-description
                %p Select a county to view it's financial information.
              / .box-panel.compare-panel
              /   .panel-header
              /     Financial Transparency Reports
              /   .panel-body
              /     Explore How Districts Compare:
              /     %ul
              /       %li
              /         %a{ href: 'http://dev.munetrix.com/sections/charts_sd_aa/chfreereduced.php?FavID=381', target: '_blank' } Peer Report for Free and Reduced Lunch
              /       %li
              /         %a{ href: 'http://dev.munetrix.com/sections/charts_sd/chefficiency_sd.php?IsdID=72188&Type=District', target: '_blank' } Northeast Region  Districts Expenditure Report

            .right-panel.col-sm-5
              %h3 Financial Summary
              .row
                .col-sm-6
                  .box-panel
                    .panel-header
                      .revenue-title
                        Revenues
                    .panel-body
                      .number
                        $ 72.13 Million
                      .description
                        Overall Revenues For Agencies Throughout Michigan
                    .button-part
                      %a.btn.btn-block.btn-primary.lighter{ href: 'http://spending.michigan.gov/#!/year/2015/', title: 'Explore Revenues', target: '_blank' }
                        Explore
                        %span.ng-binding{ 'ng-bind' => 'revenueTitle' } Revenues

                .col-sm-6
                  .box-panel
                    .panel-header
                      .revenue-title
                        Expenditures
                    .panel-body
                      .number
                        $ 69.58 Million
                      .description
                        Overall Expenditures For  Agencies Throughout Michigan
                    .button-part
                      %a.btn.btn-block.btn-primary.lighter{ href: 'http://spending.michigan.gov/#!/year/2015/', title: 'Explore Revenues', target: '_blank' }
                        Explore
                        %span.ng-binding{'ng-bind' => 'revenueTitle' } Expenditures

              .row
                %br
                .col-sm-1
                .col-sm-12
                  .box-panel-special#showme-region{:style => "display: none;"}
                    .panel-header
                      #region-title Region Title
                    .panel-body-special
                      #region-info
                        %table#excelDataTable{}

                .col-sm-1

  %script{ src: 'js/geotest.js' }
