%html
  %head
    %script{:charset => "utf-8", :src => "js/jquery.js"}
    %script{:charset => "utf-8", :src => "js/d3.js"}
    %script{:charset => "utf-8", :src => "js/topojson.v1.js"}
    %script{:charset => "utf-8", :src => "js/moment.js"}
    %meta{:charset => "utf-8"}/
    

    / ** BOOTSTRAP **/ 
    / Latest compiled and minified CSS
    %link{:href => "css/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "css/bootstrap/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:src => "js/bootstrap/bootstrap.min.js"}

    / ** MYSTYLE 
    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/


  %body
    .main-component
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            .logo-container
              %a.logo.navbar-brand{:href => "#"}
                %img{:alt => "Brand", :src => "https://www.cde.state.co.us/sites/default/files/pics/cdecomm/co_cde_shield_300_rgb-125x240.png"}
              %span.customerName Colorado Department of Education

      
      .panels.container-fluid
        .left-panel.col-md-8
          
          .mapLayerButtons
            .btn-group{"aria-label" => "...", :role => "group"}
              %button.btn.btn-default#BOCES BOCES
              %button.btn.btn-default#districts Districts
          .map-container
            #map
            .lookup-panel
              .well.well-sm
                Debug:
                .regionName
                  #mapRegionName.hovertooltip 

        .right-panel.col-sm-4
          %h4 School Districts
          %p.row.general-info
            Colrado Lorem Ipsum, legislation was enacted requiring each local education agency to post on-line, for free public access, Local Education. Agencies' (LEAs') annual budgets, annual financial statements, salary schedules or policies, accounts payable check registers and credit, debit, and purchase card statements Lorem Ipsum



      .bottom.row
        / %img{:src => "assets/filler-charts.png",  :height => "auto", :width => "auto" }/


        / Modal
        #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &#215;
                %h4#myModalLabel.modal-title Modal title
              .modal-body
                #modal-content
                  ="Hell"
              / .modal-footer
              /   %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              /   %button.btn.btn-primary{:type => "button"} Save changes



  %script{:src => "js/viz.js"}
