%html
  %head
    %script{ charset: 'utf-8', src: 'js/jquery.js' }
    %script{ charset: 'utf-8', src: 'js/d3.js' }
    %script{ charset: 'utf-8', src: 'js/topojson.v1.js' }
    %script{ charset: 'utf-8', src: 'js/moment.js' }
    %meta{ charset: 'utf-8' }

    %title Utah | Transparency Map

    / Favicon
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }


    / ** BOOTSTRAP **/
    / Latest compiled and minified CSS
    %link{ href: 'css/bootstrap/bootstrap.min.css', rel: 'stylesheet' }
    / Optional theme
    %link{ href: 'css/bootstrap/bootstrap-theme.min.css', rel: 'stylesheet' }
    / Latest compiled and minified JavaScript
    %script{ src: 'js/bootstrap/bootstrap.min.js' }

    / ** MYSTYLE
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'css/style2.css', rel: 'stylesheet', type: 'text/css' }


  %body
    .main-component
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            .logo-container
              %a.logo.navbar-brand{ href: '#' }
                %img{ alt: 'Brand', src: 'assets/bwlogo.png' }
              %span.customerName Utah's Financial Explorer
          .navbar-collapse.collapse
            / %ul.nav.navbar-nav.navbar-right
            /   %li
            /     %a.left-logo.navbar-brand{ href: '#' }
            /       %img{ alt: 'Brand', src: 'http://www.wpsdk12.org/wp-content/uploads/2014/07/Financial-Transparency-icon.jpg' }

      .container-fluid
        / .row
        /   .sub-navbar
        /     %ul.nav.nav-pills
        /       / %li#BOCES{ role: 'presentation' }
        /       /   %a{ href: '#' } Home
        /       %li.active#districts{ role: 'presentation' }
        /         %a{ href: '#' } Counties
        /       / %li#schools{ role: 'presentation' }
        /       /   %a{ href: '#' } Schools
        .row
          .panels.container-fluid.nopadding
            .left-panel.col-sm-2
              .smooth-panel
                .panel-header
                  #ListName select a county:
                .panel-body.panel-scroll
                  %ul#regionlist


            .middle-panel.col-md-5.nopadding
              .map-title
                %h3 Utah Counties Map
              .map-container
                #map
              .map-description
                %p Select a county to view it's financial information.
              / .box-panel.compare-panel
              /   .panel-header
              /     Financial Transparency Reports
              /   .panel-body
              /     Explore How Districts Compare:
              /     %ul
              /       %li
              /         %a{ href: 'http://dev.munetrix.com/sections/charts_sd_aa/chfreereduced.php?FavID=381', target: '_blank' } Peer Report for Free and Reduced Lunch
              /       %li
              /         %a{ href: 'http://dev.munetrix.com/sections/charts_sd/chefficiency_sd.php?IsdID=72188&Type=District', target: '_blank' } Northeast Region  Districts Expenditure Report

            .right-panel.col-sm-5
              %h3 Financial Summary
              .row
                .col-sm-6
                  .box-panel
                    .panel-header
                      .revenue-title
                        Revenues
                    .panel-body
                      .number
                        $ 787 Million
                      .description
                        Overall Revenues For Local Agencies Throughout Utah
                    .button-part
                      %a.btn.btn-block.btn-primary.lighter{ href: 'http://finance.cdefinancialtransparency.com//#!/year/default/revenue/0/district_name', title: 'Explore Revenues', target: '_blank' }
                        Explore
                        %span.ng-binding{ 'ng-bind' => 'revenueTitle' } Revenues

                .col-sm-6
                  .box-panel
                    .panel-header
                      .expenditure-title
                        Expenditures
                    .panel-body
                      .number
                        $ 644 Million
                      .description
                        Overall Expenditures For Local  Agencies Throughout Utah
                    .button-part
                      %a.btn.btn-block.btn-primary.lighter{ href: 'http://finance.cdefinancialtransparency.com//#!/year/default/operating/0/district_name', title: 'Explore Revenues', target: '_blank' }
                        Explore
                        %span.ng-binding{'ng-bind' => 'revenueTitle' } Expenditures
              .row
                %br
                .col-sm-1
                .col-sm-10
                  .box-panel#showme-region
                    .panel-header
                      #region-title Region Title
                    .panel-body
                      #region-info
                        Explore city budget data:
                      %ul
                        %li
                          Bluffdale
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Cottonwood Heights
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Draper
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Herriman
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Holladay
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Midvale
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Murray
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Riverton
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Salt Lake City
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Sandy
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          South Jordan
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          South Salt Lake
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          Taylorsville
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          West Jordan
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                        %li
                          West Valley City
                          %a{:href => "url", :target => "_blank"} Revenues
                          |
                          %a{:href => "url", :target => "_blank"} Expenditures
                .col-sm-1

  %script{ src: 'js/geotest.js' }
