%html
  %head
    %script{:charset => "utf-8", :src => "js/jquery.js"}
    %script{:charset => "utf-8", :src => "js/d3.js"}
    %script{:charset => "utf-8", :src => "js/topojson.v1.js"}
    %script{:charset => "utf-8", :src => "js/moment.js"}
    %meta{:charset => "utf-8"}/
    

    / ** BOOTSTRAP **/ 
    / Latest compiled and minified CSS
    %link{:href => "css/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "css/bootstrap/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:src => "js/bootstrap/bootstrap.min.js"}

    / ** MYSTYLE 

    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    
  %body.light
    /
      Common SVG defs. To prevent the SVG from taking up space, we hide it.
      Sadly we can't use display: none or visibility:(anything other than visible),
      otherwise browsers won't pick up the definitions.
    %svg{:style => "height: 0; position: absolute;"}
      %defs
        %marker#endMarker{:markerheight => "7", :markerunits => "strokeWidth", :markerwidth => "7", :orient => "auto", :refx => "1", :refy => "5", :viewbox => "0 0 10 10"}
          %polyline{:fill => "none", :points => "0,0 5,5 0,10", :stroke => "white", "stroke-width" => "2"}
        %marker#endMarkerDark{:markerheight => "7", :markerunits => "strokeWidth", :markerwidth => "7", :orient => "auto", :refx => "1", :refy => "5", :viewbox => "0 0 10 10"}
          %polyline{:fill => "none", :points => "0,0 5,5 0,10", :stroke => "black", "stroke-width" => "2"}
    .app-header.hierarchy-{"ng-class" => "['hierarchy-' + currentBudgetDrillDownType]"}
      %nav.navbar.navbar-default.row-fluid.clearfix.ng-isolate-scope.headroom.headroom--top{:headroom => "", :offset => "60"}
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"} Menu
          .logo-container
            %a.logo{:href => "#!/year/default", "ui-sref" => "budget({year:year})"}
              %img{:alt => "", "ng-src" => "https://www.cde.state.co.us/sites/default/files/pics/cdecomm/co_cde_shield_300_rgb-125x240.png", :src => "https://www.cde.state.co.us/sites/default/files/pics/cdecomm/co_cde_shield_300_rgb-125x240.png"}/
              %span.ng-binding{"ng-bind" => "customerName"} Colorado Department of Education
        / Collect the nav links, forms, and other content for toggling
        #navbarCollapse.collapse.navbar-collapse
          %form.navbar-form.navbar-right.ng-pristine.ng-valid{:role => "search"}
            .search-box-container.ng-isolate-scope{"after-selection" => "afterSearchItemSelect()", :placeholder => "Search"}
              .form-group
                %input.search-box.ng-pristine.ng-untouched.ng-valid{"aria-autocomplete" => "list", "aria-expanded" => "false", "aria-owns" => "typeahead-5-3439", :autocomplete => "off", "ng-class" => "{focused: focus}", "ng-model" => "selected", :placeholder => "Search", :type => "text", :typeahead => "searchItem as searchItem.label for searchItem in searchData | filter:{label:$viewValue} | limitTo:15", "typeahead-on-select" => "onSelect($item,$model,$label)", "typeahead-template-url" => "template/typeahead/typeahead-match.html"}/
                %ul#typeahead-5-3439.dropdown-menu.ng-isolate-scope{:active => "activeIdx", "aria-hidden" => "true", :matches => "matches", "ng-style" => "{top: position.top+'px', left: position.left +'px'}", :position => "position", :query => "query", :role => "menu", :select => "select(activeIdx)", "template-url" => "template/typeahead/typeahead-match.html", "typeahead-popup" => ""}
                  / ngRepeat: match in matches track by $index
                  / ngIf: matches.length == 0
                  %li.ng-scope{"ng-if" => "matches.length == 0", :role => "option"}
                    %a.search-result.no-focus{:tabindex => "-1"}
                      %span.no-focus No Results Found
                  / end ngIf: matches.length == 0
          %ul.nav.navbar-nav
              %a.ng-binding{:href => "http://www.google.com", "ng-bind" => "app.name", "ng-href" => "http://www.google.com", :target => "_blank"} Return to Map
            %li.ng-scope{"ng-class" => "{active: isCurrentDomain(app.url)}", "ng-if" => "enableLinks", "ng-repeat" => "app in apps"}
              %a.ng-binding{:href => "http://www.google.com", "ng-bind" => "app.name", "ng-href" => "http://www.google.com", :target => "_blank"} Advanced Comparison
            / end ngIf: enableLinks
            / end ngRepeat: app in apps
            / ngIf: enableLinks
            %li.ng-scope{"ng-class" => "{active: isCurrentDomain(app.url)}", "ng-if" => "enableLinks", "ng-repeat" => "app in apps"}
              %a.ng-binding{:href => "http://www.google.com", "ng-bind" => "app.name", "ng-href" => "http://www.google.com", :target => "_blank"} Payroll Explorer
            / end ngIf: enableLinks
            / end ngRepeat: app in apps
            %li
              %a.fb-share.ng-isolate-scope{:href => "http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.cdefinancialtransparency.com%2F%23!%2Fyear%2Fdefault", "ng-click" => "track()", "ng-href" => "http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.cdefinancialtransparency.com%2F%23!%2Fyear%2Fdefault", :target => "_blank", :title => "Share this on Facebook"}
                %span.text Share on Facebook
                %span.icon-facebook
            %li
              %a.twitter-share.ng-isolate-scope{:href => "http://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.cdefinancialtransparency.com%2F%23!%2Fyear%2Fdefault&text=An%20amazing%20way%20to%20look%20at%20the%20budget.", "ng-click" => "track()", "ng-href" => "http://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.cdefinancialtransparency.com%2F%23!%2Fyear%2Fdefault&text=An%20amazing%20way%20to%20look%20at%20the%20budget.", :target => "_blank", :title => "Share this on Twitter"}
                %span.text Share on Twitter
                %span.icon-twitter
        / /.navbar-collapse
    / uiView:
    .ng-scope{:autoscroll => "false", "ui-view" => ""}
      .homepage.ng-scope
        .jumbotron.content.hero-section{:style => "padding: 110px 15px 50px;"}
          .jumbotron-bg
          .jumbotron-filler
          .container.jumbotron-content
            .row
              %h1.text-center.ng-binding Colorado Department of Education
              / ngIf: aboutText
              .col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.ng-scope{"ng-if" => "aboutText"}
                .ng-binding{"ng-bind-html" => "aboutText"}
                  %p In 2010, legislation was enacted requiring each local education agency to post on-line, for free public access, Local Education Agencies’ (LEAs’) annual budgets, annual financial statements, salary schedules or policies, accounts payable check registers and credit, debit, and purchase card statements, and investment performance reports or statements.
                  %p This site provides a guided view through our finances and provides a transparent look at how we allocate public funds. The charts, graphs, and tables below are all highly interactive and we invite you to explore.
                %a.read-more-link{:href => "#!/about", "ui-sref" => "about"} Read More...
              / end ngIf: aboutText
        / ngIf: opexDefined || revenueDefined
        .container.ng-scope{"ng-if" => "opexDefined || revenueDefined"}
          .row
            .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
              %h2.h6.quiet.ng-binding Financial Summary
          .row
            / ngIf: revenueDefined
            .panel-revenue.ng-scope.col-sm-6.col-md-6.col-lg-5.col-lg-offset-1{"ng-class" => "[opexDefined? 'col-sm-6 col-md-6 col-lg-5 col-lg-offset-1' : 'col-sm-12 col-md-12 col-lg-10 col-lg-offset-1']", "ng-if" => "revenueDefined"}
              .panel.panel-summary
                .panel-header
                  %h3{:title => "Revenues"}
                    %span.ng-binding{"ng-bind" => "revenueTitle"} Revenues
                .panel-body{:style => "min-height: 251px;"}
                  %p.figure-primary.h3.clearfix{"ng-show" => "revenueTotal"}
                    %span.currency-symbol.ng-binding{"ng-bind" => "currency"} $
                    %span.amount-value.ng-binding{"ng-bind" => "revenueTotal | totalsCurrency:'value'"} 787
                    %span.ng-binding{"ng-bind" => "revenueTotal | totalsCurrency:'unit'"} million
                    %small.figure-label
                      %span.ng-binding{"ng-bind" => "revenueSummary"}> Combined Revenues For Colorado Local Education Agencies
                       
                  %hr/
                  %p.summary-content.ng-binding{"ng-bind" => "revenueDescription"} Click on the bar below to view the revenues for elementary and secondary public education agencies throughout the state of Colorado.
                .panel-footer.button
                  %a.btn.btn-block.btn-primary.lighter{:href => "#!/year/default/revenue%2F0%2Ffund_name", "ng-href" => "#!/year/default/revenue%2F0%2Ffund_name", :title => "Explore Revenues"}
                    Explore
                    %span.ng-binding{"ng-bind" => "revenueTitle"} Revenues
            / end ngIf: revenueDefined
            / ngIf: opexDefined
            .panel-operating.ng-scope.col-sm-6.col-md-6.col-lg-5{"ng-class" => "[revenueDefined? 'col-sm-6 col-md-6 col-lg-5' : 'col-sm-12 col-md-12 col-lg-10 col-lg-offset-1']", "ng-if" => "opexDefined"}
              .panel.panel-summary
                .panel-header
                  %h3{:title => "Expenditures"}
                    %span.ng-binding{"ng-bind" => "opexTitle"} Expenditures
                .panel-body{:style => "min-height: 251px;"}
                  %p.figure-primary.h3.clearfix{"ng-show" => "opexTotal"}
                    %span.currency-symbol.ng-binding{"ng-bind" => "currency"} $
                    %span.amount-value.ng-binding{"ng-bind" => "opexTotal | totalsCurrency:'value'"} 664
                    %span.ng-binding{"ng-bind" => "opexTotal | totalsCurrency:'unit'"} million
                    %small.figure-label
                      %span.ng-binding{"ng-bind" => "opexSummary"}> Combined Expenditures for Colorado Local Education Agencies
                       
                  %hr/
                  %p.summary-content.ng-binding{"ng-bind" => "opexDescription"} Click on the bar below to view the expenditures for elementary and secondary public education agencies throughout the state of Colorado.
                .panel-footer.button
                  %a.btn.btn-block.btn-primary{:href => "#!/year/default/operating%2F0%2Ffund_name", "ng-href" => "#!/year/default/operating%2F0%2Ffund_name", :title => "Explore Expenditures"}
                    Explore
                    %span.ng-binding{"ng-bind" => "opexTitle"} Expenditures
            / end ngIf: opexDefined
        / end ngIf: opexDefined || revenueDefined
        / ngIf: capexDefined
    %footer.app-footer{"ng-class" => "{'bread-crumbs-visible': breadcrumbsVisible}"}
      %hr/
      .container-fluid
        .row.clearfix
          / ngIf: showSocrataText
          .copyright.text-left.ng-scope.col-sm-4.col-xs-3{"ng-class" => "{\n             'col-sm-4 col-xs-3' : enableLinks,\n             'col-sm-12 col-xs-12' : !enableLinks\n           }", "ng-if" => "showSocrataText"} © Socrata
          / end ngIf: showSocrataText
          / ngIf: enableLinks
          .footer-links.text-right.ng-scope.col-sm-8.col-xs-9{"ng-class" => "{\n             'col-sm-8 col-xs-9' : showSocrataText,\n             'col-sm-12 col-xs-12' : !showSocrataText\n           }", "ng-if" => "enableLinks"}
            / ngRepeat: link in footerLinks
            %a.links.ng-scope{:href => "http://admin.finance.socrata.com", "ng-class" => "{active: isCurrentDomain(link.url)}", "ng-href" => "http://admin.finance.socrata.com", "ng-repeat" => "link in footerLinks", :target => "_blank"}
              %span.ng-binding{"ng-bind" => "link.name"} Customer Login
            / end ngRepeat: link in footerLinks
            %a.links.ng-scope{:href => "/#!/view-data", "ng-class" => "{active: isCurrentDomain(link.url)}", "ng-href" => "/#!/view-data", "ng-repeat" => "link in footerLinks", :target => "_blank"}
              %span.ng-binding{"ng-bind" => "link.name"} Get this Data on Socrata
            / end ngRepeat: link in footerLinks
          / end ngIf: enableLinks
    / LOADING SPINNER
    .pageLoader.ng-hide{"ng-show" => "dataReady == 'dataLoading'"}
      /[if IE 9]
        <img src="/images/loader.gif" class="ie9-loader">
      .loader.loader-green
    .hide.ng-hide{"ng-hide" => "true", :stylee => "opacity:0.1;color:#eeeeee;"}
      / static text to help some JS-unaware search engines.
      %h1 Colorado Department of Education Budget
      %p In 2010, legislation was enacted requiring each local education agency to post on-line, for free public access, Local Education Agencies’ (LEAs’) annual budgets, annual financial statements, salary schedules or policies, accounts payable check registers and credit, debit, and purchase card statements, and investment performance reports or statements.
      %p This site provides a guided view through our finances and provides a transparent look at how we allocate public funds. The charts, graphs, and tables below are all highly interactive and we invite you to explore.
    .input-blocker
    %script{:charset => "utf-8", :src => "/d3/d3.v3.min.js"}
    %script{:src => "//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"}
    %script{:src => "/vendor/util.f54293a26417c86523a500bbe31317c3.js"}
    %script{:src => "/js/app-bundle.3898abfb5bdd0bfa4152b2e4f14372b6.js"}
    %script{:id => "/template/socrata-maps/projects-bubble-map-legend.html", :type => "text/ng-template"}
      :cdata
        <div class="projects-bubble-map-legend">
        <!--Shows the legend horizontally in medium and small screen sizes-->
        <table class="legend-table horizontal hidden-lg">
        
        <tr>
        <td ng-repeat="circleLegend in circleLegends">
        <div>
        <div class="circle legend-circles"
        ng-style="{'width':'{{2 * circleLegend.radius}}px','height':'{{2 * circleLegend.radius}}px'}">
        </div>
        </div>
        <div>
        {{circleLegend.value | currencyMaxLength: 3 }}
        </div>
        </td>
        </tr>
        </table>
        
        <!--Shows the legend vertically in large devises-->
        <table class="legend-table vertical visible-lg-block" width="100%">
        <tr ng-repeat="circleLegend in circleLegends |orderBy:'radius':true">
        <td class="circle-cell clearfix">
        <div class="circle legend-circles"
        ng-style="{'width':'{{2 * circleLegend.radius}}px','height':'{{2 * circleLegend.radius}}px'}">
        </div>
        </td>
        <td class="legend-value">
        {{circleLegend.value | currencyMaxLength: 3 }}
        </td>
        </tr>
        </table>
        </div>
    %script{:id => "/template/socrata-maps/project-map.html", :type => "text/ng-template"}
      :cdata
        <div class="project-map-container">
        <div class="row-fluid">
        <div ng-if="project">
        <div class="chart-subtitle-line" ng-bind="project.project_address"></div>
        <leaflet class="project-map" center="projectCenter" defaults="defaults" controls="leafletCustomControls"
        markers="markers"></leaflet>
        </div>
        <div ng-if="!project && projectLoaded" class="error-container">
        <div class="error-message" ng-bind="errorMessage">
        </div>
        </div>
        </div>
        </div>
    %script{:id => "/template/socrata-maps/projects-bubble-map.html", :type => "text/ng-template"}
      :cdata
        <div class="projects-bubble-map-container">
        <div  ng-if="projects">
        <div class="row-fluid projects-bubble-map-row">
        <leaflet ng-class="[hideCircleLegend ? 'col-lg-12' : 'col-lg-9']"
        class="projects-bubble-map"
        defaults="defaults" bounds="bounds"
        marker-type="{{markerType}}" markers="markers"
        event-broadcast="{ marker: {'enable': ['click']}}"
        controls="leafletCustomControls" data="mapData"
        display-error-message-in-key="errorMessageOnMap"></leaflet>
        <projects-bubble-map-legend ng-if="!hideCircleLegend"
        class="col-lg-3" source="markers"></projects-bubble-map-legend>
        <div class="clearfix"></div>
        </div>
        <div ng-if="!hideLegend">
        <div class="row-fluid disclaimer-row">
        <div class="disclaimer-message">
        This map plots all projects in this {{viewInfo.humanName | lowercase}} that can be connected to a geographical location. Projects which cannot be mapped as a single point, which span an entire area, or which lack geographical information are not displayed.
        </div>
        </div>
        </div>
        </div>
        </div>
    %script{:id => "/template/socrata-maps/choropleth.html", :type => "text/ng-template"}
      :cdata
        <div class="choropleth-map-container">
        <div class="row-fluid no-padding">
        <div class="col-md-9 no-padding">
        <leaflet class="choropleth-map" map-popups="mapPopups"
        geojson="geojson" defaults="defaults"
        bounds="bounds" events="events"
        controls="leafletCustomControls"
        display-error-message-in-key="errorMessageOnMap"></leaflet>
        </div>
        <div class="col-md-3">
        <div class="legend"></div>
        </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-fluid no-padding">
        <div class="col-lg-12">
        <div class="disclaimer-message scrollable">{{disclaimerMessage}}</div>
        </div>
        </div>
        <div class="clearfix"></div>
        </div>
    %script{:id => "/template/typeahead/typeahead-popup.html", :type => "text/ng-template"}
      :cdata
        <ul class="dropdown-menu"
        ng-style="{top: position.top+'px', left: position.left +'px'}"
        role="menu"
        aria-hidden="{{!isOpen()}}">
        <li ng-repeat="match in matches track by $index"
        ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)"
        ng-click="selectMatch($index)"
        role="option">
        <div typeahead-match
        index="$index"
        match="match"
        query="query"
        template-url="templateUrl" />
        </li>
        <li role="option" ng-if="matches.length == 0">
        <a tabindex="-1" class="search-result no-focus">
        <span class="no-focus">No Results Found</span>
        </a>
        </li>
        </ul>
    %script{:id => "/template/typeahead/typeahead-match.html", :type => "text/ng-template"}
      :cdata
        <a tabindex="-1" class="search-result">
        <table class="container-table" ng-class="match.model.className">
        <tr>
        <td class="left-col">
        <table class="innerTable">
        <tr>
        <td class="entity-name">
        <span bind-html-unsafe="match.label"></span>
        </td>
        </tr>
        </table>
        </td>
        <td class="right-col entity-type">
        {{match.model.kind | uppercase}}
        </td>
        </tr>
        </table>
        </a>
    %script{:id => "/template/socrata-charts/totals-chart.html", :type => "text/ng-template"}
      :cdata
        <div class="meter totals-bar-chart">
        <div class="total-content clearfix">
        <div class="figure-primary h4" id="dollar_val"
        title="{{data.length ? currency + '' + (data[data.length -1].amount | totalsCurrency:'value') + ' ' + ((data[data.length -1].amount | totalsCurrency:'unit') | titlecase) + ' ' + entityName : entityName}}">
        <span ng-if="data.length">{{ currency }}{{ data[data.length -1].amount | totalsCurrency:'value' }}&nbsp;</span><span class="capitalize" ng-if="data[data.length -1].amount | totalsCurrency:'unit'">{{ data[data.length -1].amount | totalsCurrency:'unit' }}&nbsp;</span><small class="name_val" ng-bind="entityName"></small>
        </div>
        </div>
        
        
        <div class="totals-chart">
        <div class="mainBar"></div>
        <div class="segment"
        ng-repeat="datum in data"
        ng-class="{segment : true, entire : $index==0, fixed : (data.length <= 2 && $index == 1) || (data.length >2 && $index >= data.length - 2)}"
        ng-style="{'width': datum.percent + '%'}"
        original-title = '<span>{{datum.amount | currencyMaxLength: 3 }}</span><br><span>{{ datum.percent | numberMaxLength: 3 }}%</span>'>
        <div class="bar"></div>
        <div class="decoration">
        <div class="left-bracket"></div>
        <div class="right-bracket"></div>
        <div class="stroke" ng-show="$index"></div>
        </div>
        </div>
        </div>
        </div>
    %script{:id => "/template/socrata-charts/phase-chart.html", :type => "text/ng-template"}
      :cdata
        <div class="chart phase-chart">
        <div class="phase-chart-labels"/>
        <svg>
        <g class="dots">
        </g>
        </svg>
        <div class="clearfix"></div>
        </div>
    %script{:id => "/template/socrata-charts/line-chart.html", :type => "text/ng-template"}
      :cdata
        <div class="chart line-chart row-fluid">
        <div class="svg-container"
        ng-class="[hideLegend ? '' : 'col-md-9']">
        <svg class="main-svg">
        <g class="background-container">
        <rect class="background"></rect>
        </g>
        <g class="x-axis"></g>
        <g class="y-axis"></g>
        <g class="lines"></g>
        </svg>
        </div>
        <div class="legend-container col-md-3" ng-hide="hideLegend">
        <div class="legend-title">{{legendTitle}}</div>
        <div class="legend"></div>
        </div>
        </div>
    %script{:id => "/template/socrata-charts/bar-chart.html", :type => "text/ng-template"}
      :cdata
        <div class="bar-chart-container">
        <svg class="visualisation bar-chart" width="100%">
        <g class="columns-background-container">
        <rect class="columns-background"></rect>
        </g>
        <g class="y axis"></g>
        <g class="x axis"></g>
        <g class="columns-container"></g>
        </svg>
        </div>
    %script{:id => "/template/socrata-charts/percentage-chart.html", :type => "text/ng-template"}
      :cdata
        <div class="percentage-chart">
        <svg class="percentage-chart-svg">
        <g class="percentages-container"></g>
        <g class="x-axis"></g>
        </svg>
        
        <!--TODO: Use the table directive.-->
        <table class="table percentage-table">
        <thead>
        <th width="15px"></th>
        <!--<th width="30px"></th>-->
        <th ng-repeat="header in tableConfig.columnHeaders" ng-class="{moola: tableConfig.fields[$index].isMoola}">
        {{header}}
        </th>
        </thead>
        <tbody class="percentage-split-row"
        ng-repeat='datum in fundData track by $index'
        ng-mouseover="highlightColumns(datum,$index,true,false)" ng-mouseout="highlightColumns(datum,$index,false,false)">
        <tr class="summary-row">
        <td rowspan="2"></td>
        <!--<td ng-style="{'background-color':colours($index)}"></td>-->
        <td ng-repeat='field in tableConfig.fields' ng-class="{moola: field.isMoola}">
        {{tableConfig.formatField(datum, field)}}
        </td>
        </tr>
        <tr class="split-up-row" ng-if="datum.sources && datum.sources.length >= 1 && datum.amount > 0">
        <td colspan="3" class="fund-mirror wrapper">
        <div class="mirror-chart">
        <p class="mirror-heading" ng-bind="sourceTypeHeadingText"></p>
        <div ng-repeat="fundSource in datum | fundSourcesMax: fundSourceLimit">
        <span class="biscuit-label" title="{{fundSource.fund_type}}" ng-bind="fundSource.fund_type"></span>
        <div class="biscuit biscuit-small">
        <span ng-style="{width: fundSource.percent + '%'}" class="flake c"></span>
        </div>
        <span class="biscuit-percent">{{fundSource.percent | number:2}}%</span>
        </div>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
        
        </div>
    %script{:id => "/template/budget-templates/operational-stem.html", :type => "text/ng-template"}
      :cdata
        <div ng-controller="operationalBudgetPageController">
        <div ng-include src="'/template/budget-templates/generic.html'">
        </div>
        </div>
    %script{:id => "/template/budget-templates/capital-stem.html", :type => "text/ng-template"}
      :cdata
        <div ng-controller="capitalStemPageController">
        <div ng-include src="'/template/budget-templates/generic.html'">
        </div>
        </div>
    %script{:id => "/template/budget-templates/layout.html", :type => "text/ng-template"}
      :cdata
        <div ng-class="templateClasses" class="layout-partial">
        <div class="row-fluid">
        <breadcrumbs current-filter="filterInfo"></breadcrumbs>
        
        <div class="context-bar affix">
        <div class="row-fluid context-bar-wrapper">
        <div totals-bar-chart data="totalsData" year="fiscalYear"
        entity-name="entityName"/>
        <tab-switcher tabs="tabs" ng-model="currentTab">
        </tab-switcher>
        </div>
        </div>
        
        <div class="content-area clearfix">
        <div class="row-fluid tab-content-wrapper">
        <div ng-include src="subControllerPage"></div>
        </div>
        </div>
        </div>
        <div ui-view autoscroll="false"></div>
        </div>
    %script{:id => "/template/budget-templates/generic.html", :type => "text/ng-template"}
      :cdata
        <div class="generic-partial">
        <!--FILTER DOWN BY SELECTOR-->
        <div class="row-fluid flex-hierarchy-wrapper" ng-show="shouldShowFilterDownOption(currentVisualization)">
        <div class="chart-title clearfix" ng-show="currentVisualization != 'percentageChart'">
        <span class="dot-indicator"></span>
        <strong ng-bind="entityName"></strong>
        <em class="on-right" ng-if="!filterInfo.isLeaf">broken down by</em>
        <fancy-search data="alternateChildEntityOptions" current-selection="currentShownEntity"
        disable-search="true" show-count-message="false"
        header-title="" on-select="hierarchyChanged"
        show-type="true" class="question" ng-if="!filterInfo.isLeaf">
        </fancy-search>
        </div>
        <div class="chart-title clearfix" ng-show="currentVisualization == 'percentageChart'">
        <span class="dot-indicator"></span>
        <em class="on-left" ng-if="!filterInfo.isLeaf">
        Funding
        <span ng-bind="budgetType=='revenue'? 'destinations' : 'sources'"></span>
        for</em>&nbsp;
        <strong ng-bind="entityName"></strong>
        </div>
        
        <p class="filter-by-label" ng-if="entityFilterText">
        <span>Within <em ng-bind="entityFilterText"></em></span>
        </p>
        </div>
        
        <!--BAR CHART INTERACTION HELPER-->
        <div class="row-fluid chart-info" ng-show="currentVisualization == 'barChart' && showBarChartInteractionHelp">
        <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert"
        aria-label="Close" ng-click="dismissBarChartInteractionHelp()">
        <span aria-hidden="true" class="icon-close"></span>
        </button>
        <p>Select a bar to explore budget details.</p>
        </div>
        </div>
        
        <!--Entity Annotation-->
        <div class="row-fluid entity-annotation" ng-show="entityAnnotation">
        <div class="alert alert-info" role="alert">
        <p ng-bind-html="entityAnnotation"></p>
        </div>
        </div>
        
        <!--BACK AND BULLET OPTIONS -->
        <div class="row-fluid chart-control clearfix">
        <div class="col-xs-2 no-padding">
        <a href="javascript:void(0)"
        class="btnBack btn btn-default btn-xs"
        ng-click="oneLevelUp()">
        <span class="icon-arrow-back"></span>
        Back
        </a>
        </div>
        <div class="col-xs-10 text-right no-padding comparator-controls clearfix"
        ng-show="currentVisualization == 'barChart' && filterInfo.budget.category == 'operational'">
        <div class="pull-right form-inline clearfix">
        <div class="other-amounts clearfix" ng-show="barChart.bulletTypes.length > 1">
        <div class="square"></div>
        <div class="dd-selector">
        <span class="dd-selector-value" ng-bind="barChart.bulletType.sortLabel"></span>
        <select class="form-control input-sm"
        id="compare-sel"
        ng-options="bulletType as bulletType.name for bulletType in barChart.bulletTypes"
        ng-model="barChart.bulletType"></select>
        </div>
        </div>
        
        <div class="primary-amount clearfix">
        <div class="square"></div>
        <div class="amount-name" ng-bind="barChart.barAmountName"></div>
        </div>
        </div>
        </div>
        </div>
        
        
        <div class="row-fluid">
        <!--VISUALIZATION-->
        <div ng-switch on="currentVisualization" class="visualization-pane"
        ng-class="{'col-md-10': currentTab.visualizations.length > 1}">
        <!--Bar Chart-->
        <div ng-switch-when="barChart">
        <bar-chart bar-data="barChartData" bullet-field="barChart.bulletType.field" budget-type="budgetType"
        sort-by="barChart.sort" on-select="barSegmentClicked"
        hierarchy="filterInfo.getHierarchyArray()"
        ng-class="{'non-clickable': filterInfo.isLeaf}"
        total="barChartTotal" ></bar-chart>
        </div>
        
        <!--Bar Chart Table-->
        <div ng-switch-when="barChartTable">
        <new-budget-table row-data="barChartTableData" column-headers="barChartTableHeaders"
        fields="barChartTableFields"
        on-select="filterInfo.isLeaf ? null : barSegmentClicked"></new-budget-table>
        </div>
        
        <!--Table-->
        <div ng-switch-when="table">
        <new-budget-table row-data="tableData" column-headers="tableHeaders"
        fields="tableFields"></new-budget-table>
        </div>
        
        <!--Percentage Chart-->
        <div ng-switch-when="percentageChart">
        <percentage-chart fund-data="fundSourceData" source-type-heading-text="fundSourceTypeHeadingText"
        fund-source-limit="fundSourceLimit"></percentage-chart>
        <div class="row-fluid" ng-show="filterInfo.budget.aliasName == 'opex' && revenueDefined">
        <div class="col-md-12">
        <a href="javascript:void(0)" class="go-to-link bump-top pull-right btn btn-default btn-sm"
        ng-href="{{'rev' | href:currentYear}}">
        Go to {{revenueTitle}}
        </a>
        </div>
        </div>
        <div class="row-fluid" ng-show="filterInfo.budget.aliasName == 'revenue' && opexDefined">
        <div class="col-md-12">
        <a href="javascript:void(0)" class="go-to-link bump-top pull-right btn btn-default btn-sm"
        ng-href="{{'opex' | href:currentYear}}">
        Go to {{opexTitle}}
        </a>
        </div>
        </div>
        </div>
        
        <!--Line Chart-->
        <div ng-switch-when="lineChart">
        <d3-line-chart
        legend-title=""
        hide-legend="hideLineChartLegend"
        data="historicalData"
        group-id="filterInfo.filterChainUniqueId()"
        enable-total-by-default="enableTotalByDefault"></d3-line-chart>
        </div>
        
        <!--Projects Bubble Map-->
        <div ng-switch-when="projectsBubbleMap">
        <projects-bubble-map projects="projectsBubbleMapData"
        on-project-select="onProjectSelected"
        currency="{{currency}}"></projects-bubble-map>
        </div>
        
        <!--Choropleth Map-->
        <div ng-switch-when="choroplethMap">
        <choropleth data="choroplethData"
        disclaimer-message="{{choroplethDisclaimerMessage}}"
        map-title="defaultChoroplethTitle"></choropleth>
        </div>
        
        <!--Choropleth Table-->
        <div ng-switch-when="choroplethTable">
        <new-budget-table row-data="choroplethTableData" column-headers="choroplethTableHeaders"
        fields="choroplethTableFields"></new-budget-table>
        </div>
        
        </div>
        
        <!--VISUALIZATION SWITCHER AND CHART CONTROLS-->
        <div class="col-md-2 right-pane" ng-show="currentTab.visualizations.length > 1">
        <visualizations-switcher ng-model="currentVisualization"
        available-visualizations="currentTab.visualizations"
        disabled-visualizations="disabledVisualizations"></visualizations-switcher>
        <div class="sort-type-toggle"
        ng-show="barChart.sortOptions.length > 1 && currentVisualization == 'barChart'">
        <div>
        <small>Sort</small>
        </div>
        <div class="dd-selector">
        <span class="dd-selector-value" ng-bind="barChart.sort.sortLabel"></span>
        <select class="form-control input-sm"
        ng-options="sortOption as sortOption.sortLabel for sortOption in barChart.sortOptions"
        ng-model="barChart.sort"></select>
        </div>
        </div>
        </div>
        </div>
        </div>
    %script{:id => "/template/budget-templates/capital-leaf.html", :type => "text/ng-template"}
      :cdata
        <div ng-controller="capitalLeafPageController" class="capex-leaf-partial">
        <div class="row-fluid viz-title-row" ng-show="projectName">
        <p class="h6">{{projectName}}</p>
        </div>
        <div class="row-fluid chart-control">
        <div class="col-xs-2 no-padding">
        <a href="javascript:void(0)"
        class="btnBack btn btn-default btn-xs"
        ng-click="oneLevelUp()">
        <span class="icon-arrow-back"></span>
        Back
        </a>
        </div>
        <div class="clearfix"></div>
        </div>
        
        <!--Entity Annotation-->
        <div class="row-fluid entity-annotation" ng-show="entityAnnotation">
        <div class="alert alert-info" role="alert">
        <p ng-bind-html="entityAnnotation"></p>
        </div>
        </div>
        
        <section class="row clearfix">
        <div class="col-md-3 on-this-section">
        <h3>On this page</h3>
        <ul class="clearfix">
        <li ng-if="description.length > 0"><a ng-click="scrollToSection('capexDescription')">Description</a></li>
        <li ng-if="showPhaseChart"><a ng-click="scrollToSection('capexPhase')">Phase</a></li>
        <li ng-if="projectLoaded"><a ng-click="scrollToSection('capexMap')">Map</a></li>
        <li ng-if="haveMultipleYear"><a ng-click="scrollToSection('capexOverTime')">{{filterInfo.humanName}} Budget Over Time</a></li>
        <li ng-if="fundSourceData !== null"><a ng-click="scrollToSection('fundSource')">Fund Source</a></li>
        </ul>
        </div>
        <div class="col-md-9">
        <!--Description-->
        <div id="capexDescription" ng-if="description.length > 0" class="description-section">
        <span class="sub-header">Description</span>
        
        <div ng-bind="description" class="description-container">
        </div>
        </div>
        
        <!--Phase Chart-->
        <div id="capexPhase" ng-if="showPhaseChart" class="visualization-section">
        <span class="sub-header">Phase</span>
        
        <div class="phase-chart-container">
        <phase-chart data="phaseData" colors="colors"></phase-chart>
        <div class="phase-desc">
        <span class="phase-desc-title">{{phaseTitle}}</span> {{phaseDescription}}
        </div>
        </div>
        </div>
        
        <!--Project Map-->
        <div id="capexMap" ng-if="projectLoaded" class="visualization-section">
        <span class="sub-header">Map</span>
        <project-map project="project"
        project-loaded="projectLoaded"
        error-message="Location cannot be displayed for this {{filterInfo.humanName | lowercase }}."></project-map>
        </div>
        
        
        <!--Line Chart-->
        <div id="capexOverTime" ng-if="haveMultipleYear" class="visualization-section">
        <span class="sub-header">{{filterInfo.humanName}} Budget Over Time</span>
        <d3-line-chart
        class="details-full-size clearfix"
        legend-title=""
        hide-legend="hideLineChartLegend"
        group-id="filterInfo.filterChainUniqueId()"
        data="historicalData"></d3-line-chart>
        </div>
        <div id="fundSource" ng-if="fundSourceData !== null" class="visualization-section">
        <span class="sub-header">Fund Source Chart</span>
        <percentage-chart fund-data="fundSourceData" fund-source-limit="fundSourceLimit"></percentage-chart>
        </div>
        </div>
        </section>
        </div>
    %script{:id => "/template/budget-templates/operational-leaf.html", :type => "text/ng-template"}
      :cdata
        <div ng-controller="operationalBudgetPageController">
        <div ng-include src="'/template/budget-templates/generic.html'">
        </div>
        </div>
    %script{:id => "/template/directives/search-box.html", :type => "text/ng-template"}
      :cdata
        <div class="search-box-container">
        <div class="form-group">
        <input class="search-box"
        ng-class="{focused: focus}"
        autocomplete="off"
        type="text"
        ng-model="selected"
        typeahead="searchItem as searchItem.label for searchItem in searchData | filter:{label:$viewValue} | limitTo:15"
        typeahead-template-url="template/typeahead/typeahead-match.html"
        typeahead-on-select="onSelect($item,$model,$label)"/>
        </div>
        </div>
    %script{:id => "/template/directives/fancy-search.html", :type => "text/ng-template"}
      :cdata
        <div class="fancy-search dropdown-periperal">
        <div class="selection-holder-message-container">
        <div class="selection-holder" ng-show="!searchOutsideDropDown">
        <span class="placeholder" ng-class="{active: isPlaceholderActive }" itipsy content="{{placeholder}}" gravity="n"></span>
        <interpolation-watcher event-name="fancySearch:placeholderRendered" watch-on="{{placeholder}}"></interpolation-watcher>
        <div class="icon-holder">
        <span class="drop-down-icon"></span>
        </div>
        </div>
        </div>
        
        <drop-down dd-width="200">
        <div class="header" ng-if="headerTitle">
        <div ng-class="{'solo-in-container': disableSearch || searchOutsideDropDown}" ng-bind="headerTitle" class="title"></div>
        </div>
        
        <div class="search-results">
        <intractable-list filtered-data="filteredData"
        empty-selection="emptySelection" hide-empty-selection="search.active"
        result-tipsy-content="resultTipsyContent" sub-total-key="subTotalKey"
        show-type="showType" show-count-message="showCountMessage"
        listen-to-keyboard="listenToKeyboard" total-amount="totalAmount"
        >
        </intractable-list>
        <div class="no-focus start-typing" ng-if="search.active && search.key.length == 0">Start typing to search</div>
        </div>
        </drop-down>
        </div>
    %script{:id => "/template/directives/navigation/app-header.html", :type => "text/ng-template"}
      :cdata
        <div class="app-header" ng-class="['hierarchy-' + currentBudgetDrillDownType]">
        <nav class="navbar navbar-default row-fluid clearfix" headroom offset='60'>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbarCollapse">Menu</button>
        <div class="logo-container">
        <a class="logo" ui-sref="budget({year:year})">
        <img ng-src="{{customerLogoURL}}" alt="" />
        <span ng-bind="customerName"></span>
        </a>
        </div>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="navbar-form navbar-right" role="search">
        <search-box placeholder="Search"
        after-selection="afterSearchItemSelect()"></search-box>
        </form>
        <ul class="nav navbar-nav">
        <li ng-if="enableLinks" ng-repeat="app in apps" ng-class="{active: isCurrentDomain(app.url)}">
        <a ng-href="{{app.url}}" target="_blank" ng-bind="app.name"></a>
        </li>
        <li>
        <fb-share></fb-share>
        </li>
        <li>
        <twitter-share></twitter-share>
        </li>
        </ul>
        </div>
        <!-- /.navbar-collapse -->
        </nav>
        </div>
    %script{:id => "/template/directives/navigation/breadcrumbs.html", :type => "text/ng-template"}
      :cdata
        <div class="breadcrumbs sidebar {{breadcrumbsState}}">
        <a class="back-to-home-link" ui-sref="budget({year:currentYear})">
        <span class="home-icon icon-home3"></span>
        <strong>Open Budget</strong>
        </a>
        <div class="sidebar-wrapper">
        <ul class="trail">
        <li ng-repeat="filter in filters" ng-class="{active: filter == currentFilter}">
        <span class="small levelDesc"><span ng-if="!filter.isRoot" ng-bind="filter.humanName"></span></span>
        <a ng-href="{{filter.href()}}" ng-click="trackHref(filter)" ng-if="pageNames[$index]"
        data-toggle="tooltip"
        data-placement="right"
        title="{{pageNames[$index]}}"
        ng-bind="pageNames[$index] | ellipsis: 23"></a>
        <span class="small percentTotal" ng-if="totals[$index]">
        {{ currency }}{{ totals[$index].amount | totalsCurrency:'value' }}&nbsp;{{ totals[$index].amount | totalsCurrency:'unit' }}&nbsp;-
        {{totals[$index].percent | number: 1}}%<span class="tail"> of all {{budgetName}}</span>
        </span>
        </li>
        </ul>
        </div>
        <a href="javascript:void(0)" class="side-bar-switch">
        <span class="toggle-show">&#187;</span>
        <span class="toggle-hide">&#171;</span>
        </a>
        </div>
    %script{:id => "/template/directives/navigation/app-footer.html", :type => "text/ng-template"}
      :cdata
        <footer class="app-footer" ng-class="{'bread-crumbs-visible': breadcrumbsVisible}">
        <hr />
        <div class="container-fluid">
        <div class="row clearfix">
        <div ng-if="showSocrataText"
        class="copyright text-left"
        ng-class="{
        'col-sm-4 col-xs-3' : enableLinks,
        'col-sm-12 col-xs-12' : !enableLinks
        }">&copy; Socrata</div>
        <div ng-if="enableLinks"
        class="footer-links text-right"
        ng-class="{
        'col-sm-8 col-xs-9' : showSocrataText,
        'col-sm-12 col-xs-12' : !showSocrataText
        }">
        <a ng-repeat="link in footerLinks"
        ng-class="{active: isCurrentDomain(link.url)}"
        ng-href="{{link.url}}"
        target="_blank"
        class="links"><span ng-bind="link.name"></span>
        </a>
        </div>
        </div>
        </div>
        </footer>
    %script{:id => "/template/directives/navigation/tab-switcher.html", :type => "text/ng-template"}
      :cdata
        <div class="tab-switcher clearfix">
        <div class="tabs-container clearfix" ng-show="tabs.length > 1">
        <ul class="nav nav-tabs pull-left clearfix">
        <li ng-repeat="tab in tabs"
        role="presentation"
        ng-class="{'active': tab == currentTab }"
        ng-click="tabClicked(tab)">
        <a href="javascript:void(0)" ng-bind="tab.name"></a>
        </li>
        </ul>
        </div>
        </div>
    %script{:id => "/template/directives/navigation/visualizations-switcher.html", :type => "text/ng-template"}
      :cdata
        <div class="visualizations-switcher-container">
        <div class="visualizations-switcher btn-group-vertical btn-group-sm clearfix">
        <a href="javascript:void(0)"
        ng-repeat="visualization in visualizations"
        ng-class="{'active': currentVisualization == visualization}"
        ng-click="setVisualization(visualization)">
        <span ng-class="[visualizationDetails[visualization].icon]" ng-title="visualizationDetails[visualization].title"></span>
        <span class="btn-text" ng-bind="visualizationDetails[visualization].title"></span>
        </a>
        </div>
        </div>
    %script{:id => "/template/directives/new-budget-table.html", :type => "text/ng-template"}
      :cdata
        <div class="budget-table-container" ng-class="{ clickable: clickable }">
        <table class="table table-hover table-striped table-responsive">
        <thead>
        <th ng-repeat="header in columnHeaders"
        ng-class="{
        moola: fields[$index].isMoola,
        'align-right': field.isMoola,
        active: fields[$index].sort
        }"
        ng-click="sortByColumn(fields[$index],$event)">
        <span class="header" ng-bind="header"></span>
        <span class="sort-indicator" ng-class="[fields[$index].sort]"></span>
        </th>
        </thead>
        <tbody>
        <tr ng-repeat='datum in sortedRowData' ng-click="onRowClick(datum)">
        <td ng-repeat='field in fields'
        ng-class="{
        moola: field.isMoola,
        'align-right': field.isMoola,
        'entity-name': field.isEntityName}">
        {{field.isMoola ? formatCurrencyAmount(datum[field.name]) : datum[field.name]}}
        </td>
        </tr>
        </tbody>
        </table>
        </div>
    %script{:id => "/template/directives/intractable-list.html", :type => "text/ng-template"}
      :cdata
        <div class="intractable-list">
        <ul class="defaults-list">
        <li class="empty-selection no-animation" ng-class="{active: (activeEntryIndex == -1)}"
        ng-mouseenter="setActive(-1, 'mouseHover', this)"
        ng-click="selectMatch(-1)" ng-if="emptySelection && !hideEmptySelection"
        role="option">
        <intractable-list-result-item datum="emptySelection" result-tipsy-content="resultTipsyContent"></intractable-list-result-item>
        </li>
        </ul>
        <div class="animated-list">
        <ul class="list intractable-list-items-with-paging-animation" ng-repeat="currentPage in [pageNumber]">
        <li ng-repeat="datum in filteredData track by $index"
        ng-class="{active: ($index == activeEntryIndex)}"
        ng-mouseenter="setActive($index, 'mouseHover', this)"
        ng-click="selectMatch($index)"
        role="option">
        <intractable-list-result-item datum="datum" total-amount="totalAmount"
        show-type="{{showType}}" sub-total-key="{{subTotalKey}}"
        result-tipsy-content="resultTipsyContent">
        </intractable-list-result-item>
        </li>
        </ul>
        </div>
        
        <div class="no-focus no-results" ng-if="filteredData.length == 0">No Results Found</div>
        <div class="message" ng-show="showCountMessage">
        <div class="message-count" ng-if="filteredData && filteredData.length > 0 && filteredData.length <= maxResults">Showing all {{filteredData.length}} results</div>
        <div class="message-count" ng-if="filteredData && filteredData.length > maxResults && canPage('previous') && canPage('next')">Showing {{listStartIndex}}-{{listEndIndex}} of {{filteredData.length}} results</div>
        <div class="message-count" ng-if="!canPage('previous') && filteredData.length > maxResults"> Showing first {{maxResults}} of {{filteredData.length}} results</div>
        <div class="message-count" ng-if="!canPage('next') && filteredData.length > maxResults"> Showing last {{filteredData.length % maxResults == 0 ? maxResults : filteredData.length % maxResults }} of {{filteredData.length}} results</div>
        <div class="pagination-buttons" ng-show="filteredData.length > maxResults">
        <div class="previous" ng-class="{inactive: !canPage('previous')}" ng-click="pageChanged('previous')">
        previous {{maxResults}}
        <span class="previous-icon"></span>
        </div>
        <div class="next" ng-class="{inactive: !canPage('next')}" ng-click="pageChanged('next')">
        <span class="next-icon"></span>
        next {{maxResults}}
        </div>
        <div class="clear-fix"></div>
        </div>
        </div>
        </div>
    %script{:id => "/template/directives/social/twitter-share.html", :type => "text/ng-template"}
      :cdata
        <a title="Share this on Twitter" class="twitter-share" ng-click="track()"
        ng-href="http://twitter.com/intent/tweet?url={{url | uriEncode }}&text={{ text | uriEncode}}" target="_blank">
        <span class="text">Share on Twitter</span>
        <span class="icon-twitter"></span>
        </a>
    %script{:id => "/template/directives/social/fb-share.html", :type => "text/ng-template"}
      :cdata
        <a ng-href="http://www.facebook.com/sharer/sharer.php?u={{url | uriEncode }}" target="_blank" class="fb-share"
        title="Share this on Facebook" ng-click="track()">
        <span class="text">Share on Facebook</span>
        <span class="icon-facebook"></span>
        </a>
    :javascript
      angular.module('budgetApp').constant('customerConfig', {"environment":"production","revenueAmountType":"primary_amount","operatingAmountType":"primary_amount","operating_primary_amount_title":"Actual Expenditures","revenue_primary_amount_title":"Actual Revenue","multiple_year_amount_calculation":"yes","currency_symbol":"$","config_expiry":"0.25","operating_fund_category_limit":"6","revenue_fund_category_limit":"6","opex_levels":9,"revenue_levels":9,"capex_levels":1,"capital_projection_years":6,"homepage_map":"No","map_marker_style":"circle","tabs":{"cap":{"going":"show","funded":"show"},"op":{"funded":"show"},"rev":{"funded":"show"}},"title":{"op":{"one":{"singular":"Fund","plural":"Funds"},"two":{"singular":"District/BOCES","plural":"Districts/BOCES"},"three":{"singular":"Location","plural":"Locations"},"four":{"singular":"School","plural":"Schools"},"nine":{"plural":"Grants","singular":"Grant"},"seven":{"plural":"Objects","singular":"Object"},"eight":{"plural":"Jobs","singular":"Job"},"six":{"plural":"Programs","singular":"Program"},"five":{"plural":"SREs","singular":"SRE"}},"rev":{"one":{"singular":"Fund","plural":"Funds"},"two":{"singular":"District/BOCES","plural":"Districts/BOCES"},"three":{"singular":"Location","plural":"Locations"},"four":{"singular":"School","plural":"Schools"},"nine":{"plural":"Grants","singular":"Grant"},"seven":{"plural":"Sources","singular":"Source"},"eight":{"plural":"Jobs","singular":"Job"},"five":{"plural":"SREs","singular":"SRE"},"six":{"plural":"Programs","singular":"Program"}},"cap":{"one":{"singular":"Service","plural":"Services"}}},"fields":{"op":{"fiscal_year":"year","one":"fund_name","two":"district_name","three":"loc_title","four":"school_name","primary_amount":"amount","description":"obj_name","fund_type_9":"grant_name","nine":"grant_name","fund_type_8":"job_name","fund_type_7":"obj_name","eight":"job_name","seven":"obj_name","fund_type_5":"sre_name","fund_type_4":"school_name","fund_type_3":"loc_title","fund_type_2":"district_name","fund_type_6":"program_name","five":"sre_name","six":"program_name","fund_type_1":"fund_name","fund":"fund_name"},"rev":{"fiscal_year":"year","one":"fund_name","two":"district_name","three":"loc_title","four":"school_name","primary_amount":"amount","description":"obj_name","nine":"grant_name","fund_type_9":"grant_name","eight":"job_name","seven":"obj_name","fund_type_8":"job_name","fund_type_7":"obj_name","fund_type_6":"program_name","fund_type_5":"sre_name","fund_type_4":"school_name","fund_type_3":"loc_title","fund_type_2":"district_name","fund_type_1":"fund_name","five":"sre_name","six":"program_name","fund":"fund_name"},"cap":{"fiscal_year":"fiscal_year","one":"service","project_id":"project_id","fy_approved":"fy_approved"},"phase":{"phase_type":"phase_type","phase_step_name":"phase_step_name","phase_step_number":"phase_step_number","phase_step_description":"phase_step_description"},"proj":{"project_id":"project_id","project_name":"project_name","project_description":"project_description","project_details_url":"project_details_url","project_address":"project_address","current_phase":"current_phase","latitude":"latitude","longitude":"longitude","regions":"regions"}},"color":{"revenue":{"light":"#FCBE6E","dark":"#F47E1F","percentage_chart_colors":"[\"#fcd39d\",\"#fcc78e\",\"#fcba7e\",\"#fbac6f\",\"#fa9f60\",\"#f89351\",\"#f58543\",\"#f27833\",\"#ef6922\"]"},"operating":{"light":"#BBD4EE","dark":"#5CA6DB","percentage_chart_colors":"[\"#bbd4ee\",\"#abc8e7\",\"#9bbcdf\",\"#8ab1d8\",\"#78a5d1\",\"#679aca\",\"#538ec2\",\"#3d83bb\",\"#1f78b4\"]"},"capital":{"light":"#BCE2D7","dark":"#54C0A7","percentage_chart_colors":"[\"#cde9e4\",\"#bde0d8\",\"#add6cc\",\"#9cccc0\",\"#8cc3b5\",\"#7bbaa9\",\"#6ab09d\",\"#59a792\",\"#469e87\"]"},"banner_text_color":"#fff","branding":{"bar_background":"#ffffff","bar_link":"#000000","title":"#000000","theme":"light"}},"hero_image_tint_color":"#000000","footer_socrata_text":"show","seo_enabled":"false","customer_domain100":"cde.budget.cdefinancialtransparency.com","drill_down_annotations":{"operating":"[{\"column\":\"district_name\",\"entity\":\"Sunny Vale\",\"text\":\"For in-depth reporting and demographic comparison, <a href=\\\"https://www.munetrix.com/Michigan/Schools/NLPR/Charlevoix-Emmet-ISD/District/Alanson-Public-Schools\\\">Click Here</a>.\"}]","revenue":"[{\"column\":\"district_name\",\"entity\":\"Sunny Vale\",\"text\":\"For in-depth reporting and demographic comparison, <a href=\\\"https://www.munetrix.com/Michigan/Schools/NLPR/Charlevoix-Emmet-ISD/District/Alanson-Public-Schools\\\">Click Here</a>.\"}]","capital":"[{\"column\":\"service\"}]"},"customer_fav_icon":"https://s3.amazonaws.com/finance-apps-objects/cde.budget.socrata.com/co_cde_shield_96x96.png","environment1":"cde-demo-production","environment2":"cde-demo-production","environment3":"cde-demo-production","environment4":"cde-demo-production","seo_enabled1":"false","seo_enabled2":"false","seo_enabled3":"false","seo_enabled4":"false","customer_domain":"www.cdefinancialtransparency.com","customer_domain1":"www.cdefinancialtransparency.com","customer_domain_seo_enabled":"false","default_phase_type":"test","revenue_budget_dataset_id":"ksz2-ery6","operating_budget_dataset_id":"pg5p-r529","dataset_domain":"opendata.demo.socrata.com","hero_image":"https://perryandco.files.wordpress.com/2011/01/east-high-school.jpg","customer_logo_url":"https://www.cde.state.co.us/sites/default/files/pics/cdecomm/co_cde_shield_300_rgb-125x240.png","hero_image_tint_percentage":"40","environment100":"production","lng":"0","lat":"0","rev_fiscal_year":"2014","op_fiscal_year":"2014","customer_domain2":"cde.cdefinancialtransparency.com","customer_domain3":"budget.cdefinancialtransparency.com","customer_domain4":"finance.cdefinancialtransparency.com","feature_flags":{}} )
                                 .constant('columns', {"capex":{"fiscal_year":"fiscal_year","org1":"service","project_id":"project_id","fy_approved":"fy_approved"},"opex":{"fiscal_year":"year","org1":"fund_name","org2":"district_name","org3":"loc_title","org4":"school_name","primary_amount":"amount","description":"obj_name","fund_type_9":"grant_name","org9":"grant_name","fund_type_8":"job_name","fund_type_7":"obj_name","org8":"job_name","org7":"obj_name","fund_type_5":"sre_name","fund_type_4":"school_name","fund_type_3":"loc_title","fund_type_2":"district_name","fund_type_6":"program_name","org5":"sre_name","org6":"program_name","fund_type_1":"fund_name","fund":"fund_name"},"revenue":{"fiscal_year":"year","org1":"fund_name","org2":"district_name","org3":"loc_title","org4":"school_name","primary_amount":"amount","description":"obj_name","org9":"grant_name","fund_type_9":"grant_name","org8":"job_name","org7":"obj_name","fund_type_8":"job_name","fund_type_7":"obj_name","fund_type_6":"program_name","fund_type_5":"sre_name","fund_type_4":"school_name","fund_type_3":"loc_title","fund_type_2":"district_name","fund_type_1":"fund_name","org5":"sre_name","org6":"program_name","fund":"fund_name"},"project":{"project_id":"project_id","project_name":"project_name","project_description":"project_description","project_details_url":"project_details_url","project_address":"project_address","current_phase":"current_phase","latitude":"latitude","longitude":"longitude","regions":"regions"},"phase":{"phase_type":"phase_type","phase_step_name":"phase_step_name","phase_step_number":"phase_step_number","phase_step_description":"phase_step_description"}} )
                                 .constant('customerStrings', {"browser_title":"CDE Financial Transparency Portal","header_link":"http://www.socrata.com/","site_title":"Colorado Department of Education","customer_name":"Colorado Department of Education","customer_type":"city","fb_share_text":"Open Budget is part of our commitment to improving transparency by providing a guided view through complex financial information.","twitter_share_text":"An amazing way to look at the budget.","operating_section_title":"Financial Summary","capital_section_title":"Capital Budget Summary","operating_budget_title":"Expenditures","operating_budget_description":"Click on the bar below to view the expenditures for elementary and secondary public education agencies throughout the state of Colorado.","recommending_entity":"Mayor","capital_budget_title":"Capital Budget","capital_budget_description":"goes toward one-time infrastructure and improvement projects.","region_name":"Region","operating_table_description_header":"Description","operating_table_expense_type_header":"Job Name","revenue_budget_title":"Revenues","revenue_budget_description":"Click on the bar below to view the revenues for elementary and secondary public education agencies throughout the state of Colorado.","capital_budget_summary":"Projected Capital Budget","revenue_budget_summary":"Combined Revenues For Colorado Local Education Agencies","application_use":"Sales Demo Only","revenue_table_description_header":"Description","revenue_table_expense_type_header":"Job Name","operating_budget_summary":"Combined Expenditures for Colorado Local Education Agencies"} )
                                 .constant('financeConfig', {"custom":{"footer":{"app":{"four":{"name":"Customer Login","url":"http://admin.finance.socrata.com"},"five":{"name":"Get this Data on Socrata","url":"/#!/view-data"}}},"header":{"app":{"three":{"url":"www.google.com","name":"Payroll Explorer"},"two":{"url":"www.google.com","name":"Advanced Comparison"},"one":{"url":"www.google.com","name":"Return to Map"}}}}} )
                                 .constant('missingOptionalFields', {"revenue":["tertiary_amount","expense_type","secondary_amount","fund_type_10"],"opex":["tertiary_amount","expense_type","secondary_amount","fund_type_10"],"project":["project_description","project_details_url","project_address","current_phase","current_phase_type","latitude","longitude","regions"],"capex":["fund"]} )
                                 .constant('gaAccount', 'UA-9046230-16');
    #fb-root
    / google analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    %script#hiddenlpsubmitdiv{:style => "display: none;"}
    :javascript
      try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }}catch(e){}



    .map-container
      %h1 CDE Map 
      #name.countyname Countya
      %button#all.btn.btn-default.pull-right Show Boces And Districts
      %button#BOCES.btn.btn-default.pull-right Show Boces
      %button#districts.btn.btn-default.pull-right Show Districts
      #map.fullscreen-map

  / Must include after document loads.
  %script{:src => "js/viz.js"}
